:root {
	--background-dark: rgb(29, 33, 37);
	--background-dark-highlight: #a6c5e229;
	--background-light: #dfe4ff;
	--background-blue: #022262;
	--background-darkblue: #1c2b41;
	--background-darkblue-highlight: #09326c;
	--text-light: #b6c2cf;
	--text-light-hover: #9fadbc;
	--text-lightblue-lightest: #cce0ff;
	--text-lightblue: #7e98f5;
	--text-lightblue-selected: #579dff;
	--text-blue-hover: #0c66e4;
	--border-dark: #9fadbc29;

	--ds-background-neutral: #a1bdd914;
	--ds-background-neutral-hovered: #a6c5e229;
	--ds-background-neutral-pressed: #bfdbf847;
	--ds-background-neutral-subtle: #00000000;
	--ds-background-neutral-subtle-hovered: #a1bdd914;
	--ds-background-neutral-subtle-pressed: #a6c5e229;
	--ds-background-neutral-bold: #9fadbc;
	--ds-background-neutral-bold-hovered: #b6c2cf;
	--ds-background-neutral-bold-pressed: #c7d1db;

	--ds-background-selected: #1c2b41;
	--ds-background-selected-hovered: #09326c;
	--ds-background-selected-pressed: #0055cc;
	--ds-background-selected-bold: #579dff;
	--ds-background-selected-bold-hovered: #85b8ff;
	--ds-background-selected-bold-pressed: #cce0ff;

	--ds-background-brand-bold: #579dff;
	--ds-background-brand-bold-hovered: #85b8ff;
	--ds-background-brand-bold-pressed: #cce0ff;
	--ds-background-brand-boldest: #e9f2ff;
	--ds-background-brand-boldest-hovered: #cce0ff;
	--ds-background-brand-boldest-pressed: #85b8ff;

	--brand-color-primary-1000: #160b32;
	--brand-color-primary-900: #2c1664;
	--brand-color-primary-800: #412097;
	--brand-color-primary-700: #572bc9;
	--brand-color-primary-600: #6d36fb;
	--brand-color-primary-500: #8a5efc;
	--brand-color-primary-400: #a786fd;
	--brand-color-primary-300: #c5affd;
	--brand-color-primary-200: #e2d7fe;
	--brand-color-primary-100: #f4f0ff;
	--brand-color-primary-lightest: #faf7ff;

	--brand-color-secondary-1000: #1f330a;
	--brand-color-secondary-900: #3d6614;
	--brand-color-secondary-800: #5c991f;
	--brand-color-secondary-700: #7acc29;
	--brand-color-secondary-600: #99ff33;
	--brand-color-secondary-500: #adff5c;
	--brand-color-secondary-400: #c2ff85;
	--brand-color-secondary-300: #d6ffad;
	--brand-color-secondary-200: #ebffd6;
	--brand-color-secondary-100: #f5ffeb;

	--auxiliary-color-red-1000: #4e0000;
	--auxiliary-color-red-900: #750000;
	--auxiliary-color-red-800: #9e0b0b;
	--auxiliary-color-red-700: #ca1515;
	--auxiliary-color-red-600: #ff2e2e;
	--auxiliary-color-red-500: #fe5f5f;
	--auxiliary-color-red-400: #ff9797;
	--auxiliary-color-red-300: #ffb8b8;
	--auxiliary-color-red-200: #ffd7d7;
	--auxiliary-color-red-100: #ffefef;

	--auxiliary-color-orange-1000: #774700;
	--auxiliary-color-orange-900: #9c5e00;
	--auxiliary-color-orange-800: #ba7002;
	--auxiliary-color-orange-700: #d88100;
	--auxiliary-color-orange-600: #ff9900;
	--auxiliary-color-orange-500: #ffaf36;
	--auxiliary-color-orange-400: #ffc46b;
	--auxiliary-color-orange-300: #ffd493;
	--auxiliary-color-orange-200: #ffe2b7;
	--auxiliary-color-orange-100: #fff3e0;

	--auxiliary-color-yellow-1000: #7d6a00;
	--auxiliary-color-yellow-900: #a18803;
	--auxiliary-color-yellow-800: #b99c03;
	--auxiliary-color-yellow-700: #debb00;
	--auxiliary-color-yellow-600: #ffd600;
	--auxiliary-color-yellow-500: #ffe24d;
	--auxiliary-color-yellow-400: #ffe871;
	--auxiliary-color-yellow-300: #ffed8c;
	--auxiliary-color-yellow-200: #fff3b5;
	--auxiliary-color-yellow-100: #fff9de;

	--auxiliary-color-blue-1000: #094179;
	--auxiliary-color-blue-900: #0a5fb4;
	--auxiliary-color-blue-800: #1571cd;
	--auxiliary-color-blue-700: #1d88f3;
	--auxiliary-color-blue-600: #3399ff;
	--auxiliary-color-blue-500: #6bb5ff;
	--auxiliary-color-blue-400: #96caff;
	--auxiliary-color-blue-300: #add6ff;
	--auxiliary-color-blue-200: #c2e2ff;
	--auxiliary-color-blue-100: #e9f4ff;

	--auxiliary-color-green-1000: #1b5b10;
	--auxiliary-color-green-900: #297a1b;
	--auxiliary-color-green-800: #399929;
	--auxiliary-color-green-700: #4bb639;
	--auxiliary-color-green-600: #5ec34d;
	--auxiliary-color-green-500: #72d761;
	--auxiliary-color-green-400: #8be37c;
	--auxiliary-color-green-300: #a4f497;
	--auxiliary-color-green-200: #bfffb4;
	--auxiliary-color-green-100: #e5ffe1;

	--auxiliary-color-pink-1000: #79005b;
	--auxiliary-color-pink-900: #a61381;
	--auxiliary-color-pink-800: #c22199;
	--auxiliary-color-pink-700: #df32b3;
	--auxiliary-color-pink-600: #ff3fce;
	--auxiliary-color-pink-500: #ff68d9;
	--auxiliary-color-pink-400: #ff8ae1;
	--auxiliary-color-pink-300: #ffa0e7;
	--auxiliary-color-pink-200: #ffbcee;
	--auxiliary-color-pink-100: #ffe5f9;

	--neutral-color-dark-1100: #9d9dab;
	--neutral-color-dark-1000: #8b8b98;
	--neutral-color-dark-900: #797983;
	--neutral-color-dark-800: #6d6d76;
	--neutral-color-dark-700: #5b5b61;
	--neutral-color-dark-600: #505057;
	--neutral-color-dark-500: #414146;
	--neutral-color-dark-400: #343438;
	--neutral-color-dark-300: #252529;
	--neutral-color-dark-200: #19191e;
	--neutral-color-dark-100: #0d0d12;
	--neutral-color-dark-0: #0b0b0e;

	--neutral-color-light-1100: #28283b;
	--neutral-color-light-1000: #434360;
	--neutral-color-light-900: #626284;
	--neutral-color-light-800: #777799;
	--neutral-color-light-700: #8383a4;
	--neutral-color-light-600: #9494b8;
	--neutral-color-light-500: #a9a9cc;
	--neutral-color-light-400: #bebedd;
	--neutral-color-light-300: #dcdcf0;
	--neutral-color-light-200: #ebebf8;
	--neutral-color-light-100: #f7f7fc;
	--neutral-color-light-0: #ffffff;
}
