@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: -apple-system, Montserrat, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
		"Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
.section {
	padding: 6rem 1rem;
}
