@import "colors";
* {
	font-family: -apple-system, Montserrat, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
		"Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
main {
	height: 100vh;
	background-color: var(--background-dark);
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
.section {
	padding: 6rem 1rem;
}
